#ifndef XALT_INTERVAL_H
#define XALT_INTERVAL_H

#include "xalt_obfuscate.h"

#define N_ELEMENTS(a) (sizeof(a)/sizeof((a)[0]))

typedef struct 
{
  double left;
  double prob;
} interval;

interval     rangeA[]	        = { @rangeA@ };
const int    rangeSz	        = N_ELEMENTS(rangeA);
const double spsr_sampling_rate = @SPSR_rate@;

#endif

/* Local Variables: */
/* mode: c */
/* End: */
