# -*- python -*-

from __future__ import print_function
import os, sys, re

@python_pkg_patterns@

def keep_pkg(fullname, path):
  for entry in python_pkg_patternA:
    kind  = entry['kind']
    patt  = entry['patt']
    value = (kind == "path") and path or fullname
    m     = patt.match(value)
    if (m):
      return entry['k_s'] == 'KEEP', entry['bare_patt'], kind

  return True, ".*","unknown"
